@font-face {
    font-family: 'Inconsolata';
    src: url(../fonts/Inconsolata/Inconsolata-VariableFont_wdth\,wght.ttf) format("truetype-variations");

}
@font-face {
    font-family: 'Open Sans';
    src: url(../fonts/Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf) format("truetype-variations");
}
@font-face {
    font-family: 'Open Sans';
    src: url(../fonts/Open_Sans/OpenSans-Italic-VariableFont_wdth\,wght.ttf) format("truetype-variations");
    font-style: italic;
}

*{
    font-family: 'Open Sans';

}

h2{
    font-variation-settings: 'wght' 700 ;
}
h3{
    font-variation-settings: 'wght' 600 ;

}
h4{
    font-variation-settings: 'wght' 400 ;
}
p{

    font-variation-settings: 'wght' 200 ;
}


.logoText{
    font-family: 'Inconsolata';
    font-variation-settings: 'wght' 100, 'wdth' 120;
    text-decoration: none;
    color: #004A89;
    font-size: 2.5rem;
}
.logoText:hover{
    
    color: #004A89;
    animation: variation 2s ease ;
    /* font-variation-settings: 'wght' 500, 'wdth' 120; */
}



.logoTextFoot{
    font-family: 'Inconsolata';
    font-variation-settings: 'wght' 100, 'wdth' 120;
    text-decoration: none;
    color:  rgb(250, 250, 250);
    font-size: 2.5rem;
}
.logoTextFoot:hover{
    animation: variation 2s ease ;
}

.barFooter p{
    font-size: 1rem;
    text-align: center;
    color: #e9e8e8;
}
.navBarFooter img {
    padding: .8rem 0;
    width: 1.8rem;
    margin: 0rem .5rem;
}


/* Animation */
/* .jello-vertical {
	animation: jello-vertical 2s  both;
} */
.jello-vertical:hover {
	animation: jello-vertical 2s  both;
}

@keyframes jello-vertical {
    0% {
    transform: scale3d(1, 1, 1);
    }
    30% {
    transform: scale3d(0.75, 1.25, 1);
    }
    40% {
    transform: scale3d(1.25, 0.75, 1);
    }
    50% {
    transform: scale3d(0.85, 1.15, 1);
    }
    65% {
    transform: scale3d(1.05, 0.95, 1);
    }
    75% {
    transform: scale3d(0.95, 1.05, 1);
    }
    100% {
    transform: scale3d(1, 1, 1);
    }
}

@keyframes variation {
    0% {
        font-variation-settings: 'wght' 100, 'wdth' 120;
    }
    50% {
        font-variation-settings: 'wght' 900, 'wdth' 120;
    } 
    100% {
        font-variation-settings: 'wght' 100, 'wdth' 120;
    }
}
