/* @font-face {
  font-family: "Inconsolata";
  src: url(../fonts/Inconsolata/Inconsolata-VariableFont_wdth\wght.ttf)
    format("truetype-variations");
}
@font-face {
  font-family: "Open Sans";
  src: url(../fonts/Open_Sans/OpenSans-VariableFont_wdth\wght.ttf)
    format("truetype-variations");
}
@font-face {
  font-family: "Open Sans";
  src: url(../fonts/Open_Sans/OpenSans-Italic-VariableFont_wdth\,wght.ttf)
    format("truetype-variations");
  font-style: italic;
} */
/* 
* {
  font-family: "Open Sans";
}
body {
  font-family: "Open Sans";
}

h2 {
  font-variation-settings: "wght" 700;
}
h3 {
  font-variation-settings: "wght" 600;
}
h4 {
  font-variation-settings: "wght" 400;
}
p {
  font-variation-settings: "wght" 200;
} */


.colorPrimarioFondo {
  background-color: #004a89;
}
.logoText:hover {
  color: #004a89;
  animation: variation 2s ease;
  /* font-variation-settings: 'wght' 500, 'wdth' 120; */
}

.navyBar ul li a {
  /* font-family: "Inconsolata";
  font-variation-settings: "wght" 300, "wdth" 120; */
  text-decoration: none;
  font-size: 1.2rem;
  text-align: center;
  color: #004a89;
  display: inline-block;
  padding: 5px 10px;
  border-bottom: #00498900 1px solid;
}

.navyBar a:hover {
  /* font-variation-settings: "wght" 500, "wdth" 120; */
  border-bottom: #004a89 1px solid;
  color: #004a89;
}
.logoText {
  /* font-family: "Inconsolata";
  font-variation-settings: "wght" 100, "wdth" 120; */
  text-decoration: none;
  color: #004a89;
  font-size: 2.5rem;
}

.logoTextFoot {
  /* font-family: "Inconsolata";
  font-variation-settings: "wght" 100, "wdth" 120; */
  text-decoration: none;
  color: rgb(250, 250, 250);
  font-size: 2.5rem;
  align-self: center;
}
.logoTextFoot:hover {
  /* animation: variation 2s ease; */
  /* animation: variation 2s ease; */
  color: rgb(250, 250, 250);
}

.barFooter p {
  font-size: 1rem;
  text-align: center;
  color: #e9e8e8;
}
.navBarFooter img {
  padding: 0.8rem 0;
  width: 2rem;
  margin: 1rem 1rem;
}

/* Animation */
/* .jello-vertical {
  animation: jello-vertical 2s  both;
} */
.jello-vertical:hover {
  animation: jello-vertical 2s both;
}

@keyframes jello-vertical {
  0% {
    transform: scale3d(1, 1, 1);
  }
  30% {
    transform: scale3d(0.75, 1.25, 1);
  }
  40% {
    transform: scale3d(1.25, 0.75, 1);
  }
  50% {
    transform: scale3d(0.85, 1.15, 1);
  }
  65% {
    transform: scale3d(1.05, 0.95, 1);
  }
  75% {
    transform: scale3d(0.95, 1.05, 1);
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}
/* 
@keyframes variation {
  0% {
    font-variation-settings: "wght" 100, "wdth" 120;
  }
  50% {
    font-variation-settings: "wght" 900, "wdth" 120;
  }
  100% {
    font-variation-settings: "wght" 100, "wdth" 120;
  }
} */

/* Sections */
.imageContainer {
  height: 300px;
  overflow: hidden;
}
.imageSection {
  object-position: center;
  object-fit: cover;
}

@media (min-width: 768px) {
  .imageContainer {
    height: 500px;
  }
}
